html, body, #root, #app {
    margin: 0;
    height: 100vh;
  background-color: #4a4545;
  }

  #root {
    display: flex;
  }

  .centered {
    position: absolute;
    left: 50%;
    transform: translate(-50%, 0);
  }