html, body, #root, #app {
    margin: 0;
    height: 100vh;
  }

  #root {
    display: flex;
  }

  .centered {
    position: absolute;
    left: 50%;
    transform: translate(-50%, 0);
  }

@keyframes blueColorTheme
{
  0%   {background:  #003B46;}
  20%  {background: #07575B;}
  40%  {background: #66A5AD;}
  60%  {background: #C4DFE6;}
  80% {background: #66A5AD;}
  95% {background: #07575B;}
  100%   {background:  #003B46;}
}

@keyframes purpleColorTheme
{
  0%   {background:  #f7bdb2;}
  20%  {background: #f4dcc8;}
  40%  {background: #9aa7ba;}
  60% {background: #9087af;}
  80% {background: #9aa7ba;}
  90%   {background:  #f4dcc8;}
  100%   {background:  #f7bdb2;}
}

@keyframes orangeColorTheme
{
  0%   {background:  #c35c2f;}
  20%  {background: #ea9b67;}
  40%  {background: #ffdc7f;}
  60% {background: #b68567;}
  80% {background: #ffdc7f;}
  90%   {background:  #ea9b67;}
  100%   {background:  #c35c2f;}
}

.jimiHendrixTemplate {
  transform: scale(0.29);
  z-index:2;
}

.jazzTemplate {
  transform: scale(0.63);
  right: -160px;  // TODO: change
  position: absolute;
  z-index: 2;
}
// TODO: Change & adjust the background image to fit the entire screen
html{
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}