html, body, #root, #app {
  margin: 0;
  height: 100vh;
}

#root {
  display: flex;
  overflow:hidden;
  background-size: cover !important;
}

.centered {
  position: absolute;
  left: 50%;
  transform: translate(-50%, 0);
}


  .menu-item-button-description{
    color: white;
    bottom: 10%;
    position: absolute;
    font-family: cursive;
    font-size: 1.15rem;
  }